[local]
username = Admin
password = admin
endpoint = http://localhost:8080/opencms/webdav/system/modules/com.company.package/
folder = /path/to/code
excludes = src

#Configuration for fabric
remote_dir = /tomcat/on/remote/server
remote_server = www.yourserver.com
remote_key = /Path/to/key/if/necessary
remote_user = remote-server-user