[local]
username = Admin
password = admin
endpoint = http://localhost:8080/opencms/webdav/system/modules/jp.co.nikkeibp.bpcms.democontent
folder = /Users/andy/code/ubicast/jp.co.nikkeibp.bpcms.democontent
excludes = backup,src,html,oclibs,bin,node_modules,lib,target,maventest
remote_dir = /usr/local/Cellar/tomcat/7.0.37/libexec
remote_server = localhost
remote_servlet = opencms