[local]
username = Admin
password = admin
endpoint = http://localhost:8080/opencms/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,node_modules,lib
remote_dir = /usr/local/Cellar/tomcat/7.0.37/libexec/
remote_server = localhost
  
[stage]
username = Admin
password = admin
endpoint = http://mymenu.ubicast.com/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,lib,node_modules
remote_dir = /tomcat/mymenu/
remote_server = devandy2.ubicast.com
remote_key = /Users/andy/code/ubicast/aws/menudemo.pem
remote_user = ec2-user

[fresh]
username = Admin
password = admin
endpoint = http://localhost:8080/fresh/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,backbone  
remote_dir = /tomcat/mymenu/