[local]
username = Admin
password = admin
endpoint = http://localhost:8080/fresh/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin
ssh = false
  
[stage]
username = Admin
password = admin
endpoint = http://mymenu.ubicast.com/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,lib
remote_dir = /tomcat/mymenu/
remote_server = devandy2.ubicast.com
remote_key = /Users/andy/code/ubicast/aws/menudemo.pem
remote_user = ec2-user

[fresh]
username = Admin
password = admin
endpoint = http://localhost:8080/fresh/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,backbone  
remote_dir = /tomcat/mymenu/