[local]
username = Admin
password = admin
endpoint = http://localhost:8080/opencms/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,node_modules,lib,target,maventest
remote_dir = /usr/local/Cellar/tomcat/7.0.37/libexec
remote_server = localhost
remote_servlet = opencms
  
[stage]
username = Admin
password = admin
endpoint = http://mymenu.ubicast.com/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,node_modules,lib,target,maventest
remote_dir = /tomcat/mymenu/
remote_server = devandy2.ubicast.com
remote_key = /Users/andy/code/ubicast/aws/menudemo.pem
remote_user = ec2-user
remote_servlet = ROOT

[fresh]
username = Admin
password = admin
endpoint = http://localhost:8080/fresh/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,backbone  
remote_dir = /tomcat/mymenu/

[devaoki]
username = Admin
password = admin
endpoint = http://devaoki2.ubicast.com:8080/oc/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,backbone,target,maventest
remote_dir = /root/oc/mymenu
remote_server = devaoki.ubicast.com
remote_key = /Users/andy/code/ubicast/aws/menudemo.pem
remote_user = root
remote_servlet = oc


[ikumi]
username = Admin
password = admin
endpoint = http://ec2-54-248-136-125.ap-northeast-1.compute.amazonaws.com/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,backbone,target,maventest
remote_dir = /var/lib/tomcat6
remote_server = ec2-54-248-136-125.ap-northeast-1.compute.amazonaws.com
remote_key = /Users/andy/code/ubicast/aws/menudemo.pem
remote_user = ubuntu
remote_servlet = ROOT
use_service=true