[local]
username = Admin
password = admin
endpoint = http://localhost:8080/fresh/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin
  
[stage]
username = Admin
password = admin
endpoint = http://mymenu.ubicast.com/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,ui,backbone

[fresh]
username = Admin
password = admin
endpoint = http://localhost:8080/fresh/webdav/system/modules/com.ubicast.mymenu/
folder = /Users/andy/code/ubicast/com.ubicast.mymenu
excludes = backup,src,html,oclibs,bin,backbone  